@model IEnumerable<ProjetoTaFeito.ControleDeUsuario.Models.RegisterViewModel>

@{
    ViewBag.Title = "ListarUsers";
}

<h2>ListarUsers</h2>

<p>
    @Html.ActionLink("Criar Novo", "Register")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SobreNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelefoneFixo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelefoneCelular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoUsuario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SobreNome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelefoneFixo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelefoneCelular)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoUsuario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Nome }) |
            @Html.ActionLink("Details", "Details", new { id=item.Nome }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Nome })
        </td>
    </tr>
}

</table>
